<h1>Reset Password</h1>

<% if (error) { %>
  <p style="color: red;"><%= error %></p>
<% } %>

<form method="POST">
  <input
    type="password"
    name="password"
    placeholder="New password"
    required
    pattern="(?=.*[a-z])(?=.*[A-Z])(?=.*\d)(?=.*[@$!%*?&]).{8,}"
    title="Password must be at least 8 characters long and include a lowercase letter, an uppercase letter, a number, and a special character."
  />
  <button type="submit">Reset Password</button>
</form>
